
  <link rel="stylesheet" href="/public/css/style.css">
  <header>
    <!-- <link rel="stylesheet" href="/public/css/header.css"> -->
  <div class="nav_bar">
  <a href="home" class="navbar_button"> Home</a>
  <a href="about" class="navbar_button">About</a>
  <a href="login" class="navbar_button">login</a>
  <a href="signup" class="navbar_button">Signup</a>
  </div>
  </header>