<!DOCTYPE html>
<html lang="en">
  <head> 
  <%- include ('./components/head.ejs') %>
  </head>
  <body>
  <%-include('./components/header.ejs')%>
  
  <h2 class="about_text">About us</h2>
  
  <p class="about_text"> In Fountain Agra, we bring people together while we help them discover their talents. <br>
      Our cour value is to ensure that people fulfill their God giving talents.</p>

  <%-include('./components/footer.ejs')%>
  </body>
  </html>