<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include ('./components/head.ejs') %>
    <!-- <link rel="stylesheet" href="/public/css/about.css"> -->
  </head>
  <body>
  <%-include('./components/header.ejs')%>
  
  <h2>About us</h2>
  <p> In Fountain Agra, we bring people together while we bring out the talent in them. <br>
  our cour value is to ensure that people fulfill their God giving talens</p>

<%-include('./components/footer.ejs')%>
  </body>
  </html>