<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./components/head.ejs') %>
</head>
<body>
  <%-include('./components/header.ejs')%>
  this is my dashboard

 <%-include('./components/footer.ejs')%>
</body>
</html>