<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <%- include ('./components/head.ejs') %>
  <!-- <link rel="stylesheet" href="/public/css/home.css"> -->
  </head>
  <body>
  <header>
   <%- include ('./components/header.ejs') %>
  </header>
 <h1>Home Page</h1>
 <%-include('./components/footer')%>
</body>
</html>