<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <%- include ('./components/head.ejs') %>
  
  </head>
  <body >
  <header>
   <%- include ('./components/header.ejs') %>
  </header>
 <h1> Welcome to my home page</h1>
 <%-include('./components/footer')%>
</body>
</html>