<!DOCTYPE html>
<html lang="en"> 
<head>
  <!-- <link rel="stylesheet" href="/public/css/nav.css"> -->
  <%- include ('./components/head.ejs') %>
</head>
<body>
  <header>
   <%- include ('./components/header.ejs') %>
  </header>
  
<footer>
  <div class="navbar_div">This Is My Navbar</div> 
  <%- include ('./components/footer.ejs') %>
</footer>
</body>
</html>