<!DOCTYPE html>
<html lang="en"> 
<head>

  <%- include ('./components/head.ejs') %>
</head>
<body class="home_body">
  <header>
   <%- include ('./components/header.ejs') %>
  </header>
  
<footer>
  <div class="navbar_div">
    <h1> Welcome to Fountain Agra Limited</h1>
  </div> 
  <%- include ('./components/footer.ejs') %>
</footer>
</body>
</html>